.bg-movieDetail {
  position: absolute;
  margin: 0 auto;
  width: 90%;
  height: 90%;
  background: rgba(16, 18, 27, 0.5);
  border: 1px solid rgba(255, 255, 255, 0.18);
  border-radius: 10px;
  backdrop-filter: blur(2px);
  top: 7%;
  left: 0;
  right: 0;
  bottom: 8%;
}
