#components-layout-demo-side .logo {
  height: 32px;
  margin: 16px;
  background: rgba(255, 255, 255, 0.3);
}

.site-layout .site-layout-background {
  background: #fff;
}

/* CHECKBOX TOGGLE SWITCH */
/* @apply rules for documentation, these do not work as inline style */
.toggle-checkbox:checked {
  @apply: right-0 border-blue-700;
  right: 0;
  border-color: #1d4ed8;
}
.toggle-checkbox:checked + .toggle-label {
  @apply: bg-blue-700;
  background-color: #1d4ed8;
}
