.cinema-list {
  background-color: rgb(45, 45, 45);
}

.tab-cinema {
  /* border: 1px solid rgb(241, 229, 229); */
}

.ant-tabs {
  max-width: 100%;
}

.ant-tabs-content {
  display: flex;
}

.ant-tabs > .ant-tabs-nav .ant-tabs-nav-list {
  flex-wrap: wrap;
}

.ant-tabs-tab + .ant-tabs-tab {
  margin: 0;
}

.ant-tabs-top > .ant-tabs-nav .ant-tabs-ink-bar {
  display: none;
}

.logo-cinema img:hover {
  transform: scale(1.25);
}

.card-cinema {
  border-radius: 30px 5px 5px 30px;
  background-color: rgb(49, 60, 67);
  align-items: center;
  padding-left: 10px;
}

.ant-tabs-tab-btn img {
  margin: 0;
  border-radius: 50%;
}

.text-left-cinema {
  padding: 10px;
  color: rgb(254, 254, 254);
}

.name-cinema {
  font-weight: 700;
}

.tab-cinema .grid .btn-date-cinema {
  background: linear-gradient(
    90deg,
    rgba(131, 58, 180, 1) 0%,
    rgba(248, 244, 251, 1) 0%,
    rgba(248, 245, 251, 1) 47%,
    rgba(255, 255, 255, 0.7432015042345064) 100%,
    rgba(252, 176, 69, 1) 100%
  );
}

.dashed {
  border: 0.5px solid rgb(158, 150, 150);
}

@media only screen and (max-width: 768px) {
  .img-film-cinema {
    width: 10rem;
    height: 9rem;
  }
}

@media only screen and (max-width: 650px) {
  .cinema-detail {
    display: block;
    text-align: center;
  }

  .cinema-detail .img-film-cinema {
    margin: auto;
    width: 10rem;
    height: 10rem;
  }

  .img-film-cinema {
    width: 10rem;
    height: 9rem;
  }

  .btn-date-cinema {
    font-size: 13px;
  }
}
